header {
  background-color: #a800b8;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  padding: 20px 0; /* pour une belle hauteur */
  z-index: 10;
}

nav ul {
  display: flex;
  justify-content: center;
  gap: 60px;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li a {
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
}

body {
  font-family: 'Times New Roman', Times, serif;
  padding-top: 80px; /* éviter que le header fixe cache le contenu */
}

#Acceuil {
 height: 40vh;
 text-align: left;
 justify-content: center;
 align-items: flex-start;
 padding: 150px;
}

button {
width: 100px;
height: 30px;
border-radius: 15px;
background-color: #a800b8;
}
h2 {
  color: #a800b8;
  padding: 10px;
}


